#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form{
  color: black;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.contact-form input[type="email"],
.contact-form input[type="submit"] {
  font-size: 1.2em; /* Adjust the font size as needed */
}

.contact-form input[type="email"]{
  background-color: white;
  border: solid grey;
}

/* App.css */
.button {
  background-color: red;
  color: #ffffff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.button:hover {
  background-color: rgb(182, 11, 11);
}

.button:active {
  transform: translateY(2px);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
